version: "3.8"
services:
    server1:
        build:
            context: ./server1
        ports:
            - "5001:5001"
        container_name: server1
        entrypoint: dockerize -wait tcp://db:3306 npm start
        networks:
            - node-network    
        depends_on:
            - nginx

    db:
        image: mysql:5.7
        command: --innodb-use-native-aio=0
        container_name: db
        restart: always
        tty: true
        volumes:
            - ./mysql:/var/lib/mysql
            - ./dump:/docker-entrypoint-initdb.d
        environment:
            - MYSQL_DATABASE=nodedb
            - MYSQL_ROOT_PASSWORD=root
        networks:
            - node-network            

    nginx:
        restart: always
        image: nginx:latest
        container_name: nginx
        networks:
            - node-network 
        volumes:
            - "./nginx/default.conf:/etc/nginx/conf.d/default.conf"
        ports:
            - "8080:80"

networks:
  node-network:
    driver: bridge
